@font-face {
  font-family: Calibri;
  font-style: normal;
  font-weight: 400;
}
html {
  line-height: 1.2;
}
body {
  background-color: #e6e6e6;
  color: #333;
  font-family: Calibri;
  font-size: 12px; /* 16px */
  margin: 0px; 
  border: 0px; 
  padding: 0px;
}

#content {
	background: #e6e6e6;
	display:block;
	position:relative;
	z-index:3;
	padding-left:10px;
	width:auto;
	margin:0 auto;
}
/* Center box */
#mainmenu_centerbox{
	background: #e6e6e6;
	margin:10px 15px 0px 15px;
	padding:5px;
	line-height:150%;
	overflow:hidden;
	border-radius: 5px;
}

button {
  background-color: #FF9533; 
  border-radius: 15px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
}
input[name="submit"] {
  background: #33F1FF;
  color: black;
  border-radius: 10px;
  border: 1px solid #FF9533;
  width: 60px;
}
/* links - linken */
a { text-decoration:none; }
a:link { color:blue; }
a:hover { text-decoration:none; color:black; }
a:visited { color:blue; }
.style1 {  /* In de header */
  font-size:18pt;
  color:#000;
  font-weight:bold;
}


th {
	color: black; font-size: 12px; 	border-radius: 10px 10px 0 0;
}
td {
	color: black; font-size: 12px; text-align: top; 
}

td.z {
	width: 95px; text-align: left; color: black;
}
.top { 
	background-color: #33F1FF; border-color: #FF9533; text-align: center; font-size: 12px;
}
.top1 { 
	background-color: #33F1FF; border-radius: 0 0 0 0; text-align: center; font-size: 12px;
}
.top2 { 
	background-color: #33F1FF; border-radius: 10px 0 0 0; text-align: center; font-size: 12px;
}
.top3 { 
	background-color: #33F1FF; border-radius: 0 10px 0 0; text-align: left; font-size: 12px;
}
.top4 { 
	background-color: #33F1FF; border-radius: 10px 0 0 10px;
}
.top5 { 
	background-color: #33F1FF; border-radius: 0 10px 10px 0;
}
td{
    border: none;
    padding: 2px 5px;
}
table.autowidth td{
	border: 1px solid #e3e3e3;
    white-space:nowrap;
}
table {
	border: solid 0px #999999;
	border-radius: 10px;
	border-collapse: collapse;
	background-color:#e6e6e6;
	text-align:left;	
	font-size: 13px;
} 


.table2 { 
	width: 270px;
	background-color: #e6e6e6;
	border: 1px solid #FF9533 !important;
	border-radius: 10px;	
	border-collapse: collapse;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
} 		
.table3 { 
	width: auto;  /*820px*/
	border: 1px solid #FF9533; /* oranje rand kleur */
	border-radius: 10px;
	border-collapse: separate;
	border-spacing: 0;
	overflow: hidden;
	padding-left: 2px;
	padding-right: 2px;
/*	opacity: 1; */
	margin-top: 5px; 
	margin-bottom: 5px; 
	margin-left: auto;
	margin-right: auto;
} 



 .modal-open{overflow:hidden}
 .modal{
	 position:fixed;
	 top:0;
	 right:0;
	 bottom:0;
	 left:0;
	 z-index:1050;
	 display:none;
	 overflow:hidden;
	 background-color:rgba(0,0,0,0.4);
	 -webkit-overflow-scrolling:touch;
	 outline:0
	 }
 .modal.fade .modal-dialog{
	 -webkit-transition:-webkit-transform .3s ease-out;
	 -o-transition:-o-transform .3s ease-out;
	 transition:transform .3s ease-out;
	 -webkit-transform:translate(0,-25%);
	 -ms-transform:translate(0,-25%);
	 -o-transform:translate(0,-25%);
	 transform:translate(0,-25%)
	 }
 .modal.in .modal-dialog{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);-o-transform:translate(0,0);transform:translate(0,0)}
 .modal-open .modal{overflow-x:hidden;overflow-y:auto}
 .modal-dialog{
	 position:relative;
	 width:250px;
	 top: 75px;
	 margin:auto
	 }